#left{
    border: 2px solid #007fff;
    border-radius: 15px;
    height: 95%;
    width: 13%;
    font-size: 25px;
    text-align: center;
    padding: 10px;
    color: #71b1ff;
}

dt{
    cursor: pointer;
    margin-top: 10px;
}

.fb{
    margin-top: 10px;
    margin-bottom: 10px;
}

a{
    cursor: pointer;
}